<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	  <title>AgendaOnline</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="style/styleCss.css"/>

</head>
<body>

	  <!-- HEADER -->
	  <header th:fragment="header">
		<div class="navbar-fixed">
		<nav class="menu">
		    <div class="nav-wrapper">
		     
		      <div class="menu-itens">
			      <ul class="menuesquerda left hide-on-med-and-down">
			        <li><a href="#">Procedimentos</a></li>
			      </ul>
			      <ul id="nav-mobile" class="menudireita right hide-on-med-and-down">
			        <li><a href="#">Login</a></li>
			        <li><a href="#">Usuário</a></li>
			        <li><a href="#">Empresa</a></li>
			      </ul>
		      </div>
		      
		    </div>
		  </nav>
		  </div>
	  </header>
	
	
	 <!-- ASIDE -->
	  <div th:replace="layoutPadrao:: aside"></div> <!-- Carregando o aside do arquivo externo layoutPadrao -->
	  <!-- Modal Structure -->
	  <div id="modal5" class="modal">
	    <div class="modal-content">
	      <form  method="post" th:object="${procedimento}" th:action="@{/salvaProcedimento}">
				<div class="">
					  <div class="row"> 
					  		<div class="input-field col s6">
						  		Procedimento: <input type="text" value="" class="form-control" id="tipoProcedimento" name="tipoProcedimento"/>
						  	</div>
					  		<div hidden="true">
						  		<input type="text" value="" class="form-control" id="idProcedimento" name="idProcedimento"/>
						  	</div>						  	
					  </div>
					  <div class="modal-footer">
					 	 <button class="btn waves-effect waves-light" type="submit">Salvar</button>
	     				 <a th:href="@{/procedimentos}" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
	   				 </div> 
			   </div> 
		  </form>
	    </div>
	  </div>
  
  <!--Import jQuery before materialize.js-->
  	  <script src="jquery/jquery-3.4.1.js"></script>
	  <script src="jquery/main.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      
</body>
</html>